<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{#if title}}
      <title>{{title}}</title>
    {{else}}
      <title>CS-546 Final Project</title>
    {{/if}}
    <link rel="stylesheet" href="/public/css/output.css" />
    <link rel="stylesheet" href="/public/css/custom.css" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/zod@3.23.8/lib/index.umd.min.js"
    ></script>
  </head>
  <body class="flex flex-col min-h-screen">
     <header class="bg-gray-300 p-4 flex gap-4 items-center">
      {{#if user}}

    <a href="/" class="font-semibold hover:text-zinc-800 transition-all">Home</a>
    <div class="w-full">
      <form id="search" method="get" class="flex gap-2 items-center">
        <label for="search_task" class="sr-only">Search</label>
        <input type="text" id="search_task" name="q" placeholder="Search by Category or Description"
          class="px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:outline-none w-full search-bar" />
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-all">
          Search
        </button>
      </form>
    </div>
    <ul class="ml-auto flex gap-4 justify-center items-center">
      <li><a href="/users/profile/{{user.username}}">{{user.username}}</a></li>
      <li><button id="logoutButton" type="button" class="font-semibold hover:text-red-500 transition-all">Logout</button></li>
      <li><a href="/posts/createPost" class="font-semibold hover:text-zinc-800 transition-all w-max">Post</a></li>
    </ul>

      {{else}}
      <a href="/" class="font-semibold hover:text-zinc-800 transition-all">Home</a>
      <div class="w-full">
        <form id="search" method="get" class="flex gap-2 items-center">
          <label for="search_task" class="sr-only">Search</label>
          <input type="text" id="search_task" name="q" placeholder="Search by Category or Description"
            class="px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:outline-none w-full search-bar" />
          <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-all">
            Search
          </button>
        </form>
      </div>
      <ul class="ml-auto flex gap-4 justify-center items-center">
        <li><a href="/users/signup" class="font-semibold hover:text-zinc-800 transition-all">Signup</a></li>
        <li><a href="/users/login" class="font-semibold hover:text-zinc-800 transition-all">Login</a></li>
      </ul>
      {{/if}}
    </header>
    <main class="flex grow flex-col justify-center p-4">
      {{{body}}}
    </main>
    <footer class="flex bg-gray-300 p-4 justify-center">
      <p>&copy; CS-546 Final Project Footer</p>
    </footer>
    {{#if script}}
      <script src="{{script}}"></script>
    {{/if}}


    <script src="/public/js/layoutInteractions.js"></script>
  </body>
</html>
