<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/output.css" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/zod@3.23.8/lib/index.umd.min.js"
    ></script>
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="bg-gray-300 p-4 flex gap-4">
      {{#if user}}
        <div class="flex justify-between w-full">
          <a
            href="/"
            class="font-semibold hover:text-zinc-800 transition-all"
          >Home</a>
          <div class="flex gap-4">
            <a href="/users/profile/{{user.username}}">{{user.username}}</a>
            <button
              id="logoutButton"
              class="font-semibold hover:text-red-500 transition-all"
            >Logout</button>
            <!-- Add Create Post Button when user is logged in -->
            <a
              href="/posts/createPost"
              class="font-semibold hover:text-zinc-800 transition-all"
            >Create Post</a>
          </div>
        </div>

      {{else}}
      <div class="flex justify-between w-full">
        <a
          href="/"
          class="font-semibold hover:text-zinc-800 transition-all"
        >Home</a>
        <div class="flex gap-4">
          <a
            href="/users/signup"
            class="font-semibold hover:text-zinc-800 transition-all"
          >Signup</a>
          <a
            href="/users/login"
            class="font-semibold hover:text-zinc-800 transition-all"
          >Login</a>
        </div>
      </div>
      {{/if}}
    </header>
    <main class="flex grow flex-col justify-center p-4">
        {{{body}}}
    </main>
    <footer class="flex bg-gray-300 p-4 justify-center">
       <p>&copy; CS-546 Final Project Footer</p>
    </footer>
    {{#if script}}
      <script src="{{script}}"></script>
    {{/if}}
    <script src="/public/js/layoutInteractions.js"></script>
  </body>
</html>
