<section class="flex items-center flex-grow flex-col gap-1">
  <h1
    id="username"
    data-username="{{viewedUser.username}}"
    class="font-bold text-3xl"
  >{{viewedUser.firstName}}
    {{viewedUser.lastName}}</h1>
  <p class="text-gray-400 italic tracking-wide">@{{viewedUser.username}}</p>
  <h1 class="font-bold text-xl">Tasks Helped On:</h1>
  {{#if viewedUser.tasksHelped}}
    {{#each viewedUser.tasksHelped}}
      <article
        class="p-4 rounded-xl border-[1px] border-black shadow-lg flex flex-col w-full max-w-2xl"
      >
        <p class="text-2xl">{{category}}</p>
        <p><span class="font-bold">Posted: </span>{{datePosted}}</p>
        <p><span class="font-bold">Complete By: </span>{{completeBy}}</p>
        <p class="font-bold">Skills required:</p>
        <ul class="list-disc px-6">
          {{#each skillsRequired}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </article>
    {{/each}}
  {{else}}
    <p class="font-semibold text-lg mt-6">No tasks helped</p>
  {{/if}}
</section>