{{#if user}}
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 max-w-7xl mx-auto mt-8"
  >
    {{#each posts}}
      <div class="bg-white p-6 rounded-lg shadow-xl">
        <div class="flex flex-col space-y-6">
          <!-- Poster Section -->
          <div class="flex flex-col space-y-2">
            <label class="text-lg font-semibold text-gray-700">Poster:</label>
            <span class="text-gray-500">{{this.posterID.username}}</span>
          </div>

          <!-- Category Section -->
          <div class="flex flex-col space-y-2">
            <label class="text-lg font-semibold text-gray-700">Category:</label>
            <span class="text-gray-500">{{category}}</span>
          </div>

          <!-- Location Section -->
          <div class="flex flex-col space-y-2">
            <label class="text-lg font-semibold text-gray-700">Location:</label>
            <span
              class="text-gray-500 break-words whitespace-normal"
            >{{location.address}},
              {{location.city}},
              {{location.state}},
              {{location.zipCode}},
              {{location.country}}</span>
          </div>

          <!-- Priority Section -->
          <div class="flex flex-col space-y-2">
            <label class="text-lg font-semibold text-gray-700">Priority:</label>
            <span class="text-gray-500">{{priority}}</span>
          </div>

          <!-- Description Section -->
          <div class="flex flex-col space-y-2">
            <label
              class="text-lg font-semibold text-gray-700"
            >Description:</label>
            <p class="text-gray-500 whitespace-pre-wrap">{{description}}</p>
          </div>

          <!-- Complete By Section -->
          <div class="flex flex-col space-y-2">
            <label class="text-lg font-semibold text-gray-700">Complete By:</label>
            <span class="text-gray-500">{{completeBy}}</span>
          </div>

          <!-- Date Posted Section -->
          <div class="flex flex-col space-y-2">
            <label class="text-lg font-semibold text-gray-700">Date Posted:</label>
            <span class="text-gray-500">{{datePosted}}</span>
          </div>

          <!-- View Post Button -->
          <div class="mt-4 text-center">
            <button class="post-details-button">
              <a href="/posts/{{_id}}">View Post Details</a>
            </button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 max-w-7xl mx-auto mt-8"
  >
    {{#each posts}}
      <div class="bg-white p-6 rounded-lg shadow-xl">
        <div class="flex flex-col space-y-6">
          <!-- Category Section -->
          <div class="flex flex-col space-y-2">
            <label class="text-lg font-semibold text-gray-700">Category:</label>
            <span class="text-gray-500">{{category}}</span>
          </div>

          <!-- Location Section -->
          <div class="flex flex-col space-y-2">
            <label class="text-lg font-semibold text-gray-700">Location:</label>
            <span
              class="text-gray-500 break-words whitespace-normal"
            >{{location.address}},
              {{location.city}},
              {{location.state}},
              {{location.zipCode}},
              {{location.country}}</span>
          </div>

          <!-- Skills Required Section -->
          <div class="flex flex-col space-y-2">
            <label class="text-lg font-semibold text-gray-700">Skills Required:</label>
            <span class="text-gray-500">{{skillsRequired}}</span>
          </div>

          <!-- Priority Section -->
          <div class="flex flex-col space-y-2">
            <label class="text-lg font-semibold text-gray-700">Priority:</label>
            <span class="text-gray-500">{{priority}}</span>
          </div>

          <!-- Description Section -->
          <div class="flex flex-col space-y-2">
            <label
              class="text-lg font-semibold text-gray-700"
            >Description:</label>
            <p class="text-gray-500 whitespace-pre-wrap">{{description}}</p>
          </div>

          <!-- Complete By Section -->
          <div class="flex flex-col space-y-2">
            <label class="text-lg font-semibold text-gray-700">Complete By:</label>
            <span class="text-gray-500">{{completeBy}}</span>
          </div>

          <!-- Date Posted Section -->
          <div class="flex flex-col space-y-2">
            <label class="text-lg font-semibold text-gray-700">Date Posted:</label>
            <span class="text-gray-500">{{datePosted}}</span>
          </div>

          <!-- View Post Button -->
          <div class="mt-4 text-center">
            <button class="post-details-button">
              <a href="/posts/{{_id}}">View Post Details</a>
            </button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}