<div
  class="post-details-container flex flex-col items-center py-6 px-4 bg-gray-100"
>
  <h1 class="text-3xl font-bold mb-6">Post Details</h1>
  <div class="post-card bg-white shadow-lg rounded-lg p-6 w-full max-w-2xl">
    <h2 class="post-category text-2xl font-semibold text-blue-600 mb-4">
      {{post.category}}
      Post
    </h2>


    <p class="detail-field text-lg mb-2">
      <strong class="font-bold">Status:</strong>
      <span class="detail-value text-gray-700">{{post.status}}</span>
    </p>


    <p class="detail-field text-lg mb-2">
      <strong class="font-bold">Priority:</strong>
      <span class="detail-value text-gray-700">{{post.priority}}</span>
    </p>


    <p class="detail-field text-lg mb-2">
      <strong class="font-bold">Location:</strong>
      <span class="detail-value text-gray-700">
        {{post.location.address}},
        {{#if post.location.suite}}
          {{post.location.suite}},
        {{/if}}
        {{post.location.city}},
        {{post.location.state}},
        {{post.location.zipCode}},
        {{post.location.country}}
      </span>
    </p>
    <p class="detail-field"><strong>Complete By:</strong>
      <span class="detail-value">{{post.completeBy}}</span></p>


    <p class="detail-field">
      <strong>Description:</strong>
      <span class="detail-value">{{post.description}}</span>
    </p>


    <p class="detail-field">
      <strong>Skills Required:</strong>
      <span class="detail-value">
        <ul>
          {{#each post.skillsRequired}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </span>
    </p>
    <br />
    <p class="detail-field text-lg mb-4">
      <strong class="font-bold">Comments:</strong>
      <span class="detail-value text-gray-700">
        {{#if post.comments.length}}
          <ul>
            {{#each post.comments}}
              <li><strong>{{this.user}}:</strong> {{this.comment}}</li>
            {{/each}}
          </ul>
        {{else}}
          No comments yet.
        {{/if}}
      </span>
    </p>


    <p class="detail-field"><strong>Posted By:</strong>
      <span class="detail-value">{{post.username}}</span></p>


  </div>
</div>
