<section class="flex items-center flex-grow flex-col gap-1">
  <h1 id="username" data-username="{{viewedUser.username}}" class="font-bold text-3xl">{{viewedUser.firstName}}
    {{viewedUser.lastName}}</h1>
  <p class="text-gray-400 italic tracking-wide">@{{viewedUser.username}}</p>
  <div class="grid grid-cols-3 place-items-center gap-3">
    <p class="w-full text-center"><span class="font-bold">Rating:
      </span>{{viewedUser.rating}}</p>
    <p class="w-full text-center"><span class="font-bold">Posted:
      </span>{{viewedUser.tasksPosted.length}}</p>
    <p class="w-full text-center"><span class="font-bold">Helped:
      </span>{{viewedUser.tasksHelped.length}}</p>
  </div>
  {{#ifEquals user.username viewedUser.username}}
  <div class="flex gap-3">
    <a href="{{../viewedUser.username}}/edit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-all">
      Edit Profile
    </a>
    <a href="/users/profile/{{../viewedUser.username}}/favorites" class="py-2 px-4 rounded bg-gray-500 transition-all font-bold text-white hover:bg-gray-400">Favorites</a>
      <a href="/users/editsignup"
       class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-all">
   Edit User Settings </a>
  </div>
  {{else}}
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-all disabled:border-2 disabled:border-black disabled:text-black disabled:bg-white"
    id="favoriteButton"
    {{#ifEquals ../viewedUser.isFavorited true}}disabled{{/ifEquals}}>
      {{#ifEquals ../viewedUser.isFavorited true}}Favorited{{else}}Favorite{{/ifEquals}}
    </button>
  {{/ifEquals}}

  <div
    class="grid grid-cols-3 place-items-start gap-3 min-w-[915px] flex-grow h-[450px] overflow-hidden"
  >
    {{#if viewedUser.hasTasksPosted}}
      <div
        class="w-[600px] flex flex-col gap-2 col-span-2 overflow-y-auto px-4 h-full"
      >
        {{#each viewedUser.tasksPosted}}
          <article class="p-4 rounded-xl border-[1px] border-black shadow-lg">
           </a><p class="text-2xl">{{category}}</p>
            <p><span class="font-bold">Posted: </span>{{datePosted}}</p>
            <p><span class="font-bold">Complete By: </span>{{completeBy}}</p>
             <p>
               <a 
                  href="/users/profile/taskstatus/{{../viewedUser.username}}" 
                  class="text-blue-600 underline hover:text-blue-800 font-bold"
                >
                  Task Status: {{status}}
                </a>
              </p>
            <p class="font-bold">Skills required:</p>
            <ul class="list-disc px-6">
              {{#each skillsRequired}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </article>
        {{/each}}
      </div>
    {{else}}
      <div class="flex w-full justify-center items-center col-span-2">
        <p class="text-xl mt-6 col-span-2">User has no posts</p>
      </div>
    {{/if}}
    <div class="flex flex-col w-full px-2 h-full overflow-y-auto">
      <form
        class="flex flex-col w-full mb-2 items-start p-2"
        id="reviewForm"
        method="post"
      >
        <h1 class="text-lg font-bold">Rating:</h1>
        <div class="rating gap-1">
          <label for="rating-1" class="sr-only">Rating 1</label>
          <input
            type="radio"
            name="rating"
            class="mask mask-star-2 bg-orange-400"
            id="rating-1"
            value="1"
          />

          <label for="rating-2" class="sr-only">Rating 2</label>
          <input
            type="radio"
            name="rating"
            class="mask mask-star-2 bg-orange-400"
            id="rating-2"
            value="2"
          />

          <label for="rating-3" class="sr-only">Rating 3</label>
          <input
            type="radio"
            name="rating"
            class="mask mask-star-2 bg-orange-400"
            id="rating-3"
            value="3"
          />

          <label for="rating-4" class="sr-only">Rating 4</label>
          <input
            type="radio"
            name="rating"
            class="mask mask-star-2 bg-orange-400"
            id="rating-4"
            value="4"
            checked
          />

          <label for="rating-5" class="sr-only">Rating 5</label>
          <input
            type="radio"
            name="rating"
            class="mask mask-star-2 bg-orange-400"
            id="rating-5"
            value="5"
          />
        </div>
        <label for="reviewBody" class="text-lg font-bold">Review:</label>
        <textarea
          type="text"
          placeholder="Review here"
          class="textarea textarea-bordered w-full mb-2"
          name="reviewBody"
          id="reviewBody"
        ></textarea>
        <button
          type="submit"
          class="btn btn-success btn-sm mb-2 text-white"
        >Submit</button>
        <ul
          class="hidden bg-red-200 text-red-500 font-bold px-4 py-2 rounded-xl border-2 border-red-500 w-full"
          id="inputErrors"
        >

        </ul>
      </form>
      {{#if viewedUser.reviews.length}}
        {{#each viewedUser.reviews}}
          <div class="chat chat-end w-full mb-2">
            <div class="chat-bubble flex flex-col w-full">
              <p class="font-bold text-md">{{posterUsername}}</p>
              <p class="text-sm">{{reviewBody}}</p>
              <div class="flex mt-3 items-center gap-1">
                {{rating}}
                <div class="w-5 h-5 bg-orange-400 mask mask-star-2"></div>
              </div>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
  <div class="toast toast-end hidden" id="toast">
    <div class="alert" id="toast-alert">
      <span class="font-bold" id="alert-text">Favorited user</span>
    </div>
  </div>
</section>
