<section class="flex items-center flex-1 p-4 flex-col gap-1">
      <a href="{{viewedUser.username}}/edit">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Edit Profile
      </button>
    </a>
  <h1 class="font-bold text-3xl">{{viewedUser.firstName}}
    {{viewedUser.lastName}}</h1>
  <p class="text-gray-400 italic tracking-wide">@{{viewedUser.username}}</p>
  <div class="grid grid-cols-3 place-items-center gap-3">
    <p class="w-full text-center"><span class="font-bold">Rating:
      </span>{{viewedUser.rating}}</p>
    <p class="w-full text-center"><span class="font-bold">Posted:
      </span>{{viewedUser.tasksPosted.length}}</p>
    <p class="w-full text-center"><span class="font-bold">Helped:
      </span>{{viewedUser.tasksHelped.length}}</p>
    <p>
    </p>
  </div>
  {{#if viewedUser.hasTasksPosted}}
    <div class="w-[600px] flex flex-col gap-2">
      {{#each viewedUser.tasksPosted}}
        <article class="p-4 rounded-xl border-[1px] border-black shadow-lg">
          <p class="text-2xl">{{category}}</p>
          <p><span class="font-bold">Posted: </span>{{datePosted}}</p>
          <p><span class="font-bold">Complete By: </span>{{completeBy}}</p>
          <p class="font-bold">Skills required:</p>
          <ul class="list-disc px-6">
            {{#each skillsRequired}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </article>
      {{/each}}
    </div>
  {{else}}
    <p class="text-xl mt-6">User has no posts</p>
  {{/if}}
</section>
